.websitename{
		width:600px;
		background:#ddd;
		margin: 0 auto 0 auto;
}
.heading1{
	height:100px;
	background:lightgreen;
	padding: 20px;
	text-align:centre;
}
.navigation{
		height:50px;
		background:lightblue;
}
.content{
	min-height: 400px;
	background : grey;
	width : 400px;
	float:left;
}
.sidebar{
	width: 200px;
	float:right;
	background: navyblue;
	min-height : 400px;
}
.footer{
	clear: both;
	background:black;
	height:40px;
	color:white;
	text-align: centre;
	padding : 10px;
	
